@charset "UTF-8";

html{
  font-size: 14px;
}

body{
  padding: 50px;
  
background: rgb(222,185,146);
background: linear-gradient(90deg, rgba(222,185,146,1) 0%, rgba(5,22,34,1) 49%, rgba(222,185,146,1) 100%);
  margin: 0;
  font-family: sans-serif;
  color: white;
}

.container{
width: 100%;
margin: 3.2rem auto 0 auto;
}

@media(min-width: 250px){
  body{
    padding: 0px;
  }
.container{
  max-width: 220px;
}
a{
  text-align: center !important;
}
}

@media(min-width: 576px){
  body{
    padding: 50px;
  }
.container{
  max-width: 540px;
}
}
@media(min-width: 700px){
  body{
    padding: 50px 100px 100px;
  }
  a{
    width:150px !important;
  }
}

@media(min-width: 950px){
  body{
    padding: 50px 150px 150px;
  }
  a{
    width:150px !important;
  }
}

@media(min-width: 1200px){
    body{
      padding: 50px 200px 200px 200px;
    }
  .container{
    max-width: 720px
  }
  a{
    width:150px !important;
  }

}

header{
  text-align: center;
  margin-bottom: 1.5rem;
}

h1{
  padding-top: 10px;
font-weight: 400;
}

#description{
font-weight: 200;
font-style: italic;
text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5)
}

#survey-form{
  background: #102f46;
  padding: 2.3rem 0.5rem;
  border-radius: 1rem;
}

.form-input{
  margin: 0 2.5rem 1.2rem 2rem;
}

.form-input-size{
  display: block;
  width: 100%;
  height: 1.5rem;
  padding: 0.3rem 0.4rem;
  border-radius: 0.2rem;
  outline: 0;
  border-style: none;
  margin-top: 0.4rem;  
}

p{
  font-size: 1.12rem;
 }
 
 label {
  display: flex;
  align-items: center;
  font-size: 1.125rem;
  margin-bottom: 0.5rem;
 }
 
#title{
  color: #f4db7d;
}
 textarea{
  width: 100%;
  min-height: 6rem;
  resize: vertical;
  padding: 0.5rem 0 0 0.5rem;
 }
 /*
 #submit{
  width: 100%;
  padding: 0.8rem;
  background: rgb(7, 173, 7);
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
 }
*/
 #annuler{
  width: 100%;
  padding: 0.8rem;
  background: #f4db7d;
  color: white;
  border-radius: 0.2rem;
  cursor: pointer;
  border: none;
 }
 
a {
  background-image: linear-gradient(
    to right,
    #f4db7d,
    #f4db7d 50%,
    #fff 50%
  );
  background-size: 200% 100%;
  background-position: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  text-align: center !important;
  color: white;
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  display: flex;

  width:40%;
  margin: 40px auto 5px !important;

    
}

a:before{
  
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.1s ease-in-out;
}

a:hover {
 background-position: 0;
}

a:hover::before{
  width: 100%;
}

/* From uiverse.io by @adamgiebl */
button {
  font-family: inherit;
  font-size: 20px;
  background: #f4db7d;
  color: rgb(0, 0, 0);
  padding: 0.7em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 16px;
  overflow: hidden;
  transition: all 0.2s;
  margin: 40px auto 5px;
 }
 
 button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
 }
 
 button svg {
  
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
 }
 
 button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
 }
 
 button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
 }
 
 button:hover span {
  transform: translateX(5em);
 }
 
 button:active {
  transform: scale(0.95);
 }
 
 @keyframes fly-1 {
  from {
   transform: translateY(0.1em);
  }
 
  to {
   transform: translateY(-0.1em);
  }
 }
 
 